<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bwie.dao.LoginDAO">
	<resultMap type="Group" id="GroupResult">
		<result property="id" column="id_"/>
		<result property="name" column="name_"/>
	</resultMap>

	<select id="findGroup" resultMap="GroupResult">
		select * from  act_id_group
    </select>
    
</mapper>